//create datatable with a row for each entry in the terraform map
let LogTable = datatable(WinEventId:int, Severity:string, WinSource:string, Area:string, Service:string)
[
%{ for event_info in all_events ~}
${event_info.event_id}, "${event_info.severity}", "${event_info.winsource}", "${event_info.area}", "${event_info.service}",
%{endfor ~}
];
let VMs = arg("").Resources
    | where type in~ ("microsoft.compute/virtualmachines", "microsoft.hybridcompute/machines", "microsoft.compute/virtualmachinescalesets")
    | where tags.alerting =~ "enabled"
    | extend ResourceId = tolower(id)
    | project ResourceId;
Event
//| where TimeGenerated > ago(10h) // Uncomment this line to only check the last "n" minutes/hours/days of data
| extend ResourceId = tolower(_ResourceId)
| join kind=inner LogTable on $left.EventID == $right.WinEventId and $left.Source == $right.WinSource
| extend affected_object = toupper(tostring(split(ResourceId, "/")[-1]))
| summarize LatestEvent = arg_max(TimeGenerated, *) by affected_object, EventID, Source, Severity, ResourceId
| project ResourceId, affected_object, EventLog, Source, EventID, RenderedDescription, Severity, Area, WinSource, LatestEvent
| join kind=leftouter hint.remote=left VMs on ResourceId
| extend state = Severity
| extend monitor_description = "Search the Windows event log for specific entries."
| extend additional_information = strcat("Windows log entry found. EventLogType: ", EventLog, 
  "; Source: ", Source, "; EventID: ", EventID, "; Description: ", RenderedDescription, "; Please check the System.")
| project ResourceId, TimeGenerated = LatestEvent, state, affected_object, monitor_description, additional_information